{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "extends": ["eslint:recommended"]
    },
    "plugins": [
        "import"
    ],
    "extends": [
        "standard"
    ],
    "env": {
        "browser": true
    },
    "globals": {
    },
    "rules": {
        "generator-star-spacing": 0,
        "indent": [2, 4],
        "no-warning-comments": [1, {
            "terms": ["todo", "fixme"],
            "location": "start"
        }],
        "operator-linebreak": [2, "after"],
        "padded-blocks": 0,
        "semi": [2, "always"]
    }
}
